__pycache__/
*.py[cod]
*.sqlite3
*.db
.pytest_cache/
.venv/
venv/
.env
.gradle/
.android/
.artifacts/
release/
logs/
dist/
build/
*.apk
*.aab
**/local.properties
node_modules/
.idea/
.vscode/
.DS_Store
